<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>536335012908-7atf63veu1gl597dbres0e7t1en2bggt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.536335012908-7atf63veu1gl597dbres0e7t1en2bggt</string>
	<key>API_KEY</key>
	<string>AIzaSyA2aocLKTzhTo2dnNAFlPKh1aXH9o1wHSY</string>
	<key>GCM_SENDER_ID</key>
	<string>536335012908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quickcart.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>quickcart-5ade3</string>
	<key>STORAGE_BUCKET</key>
	<string>quickcart-5ade3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:536335012908:ios:f9e3e230568aa8ed6c6d89</string>
</dict>
</plist>